.home{
    background-image: url('../img/bgimg.jpg');
    width: 100%;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home .logo img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 3%;
    width: 10%;
}

.home .text {
    width: 85%;
    text-align: center;
    background: #000000c4;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 7%;
    border-radius: 10px;
}

.home .text h3{
    padding-top: 5%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
}

.home .text a{
    margin-bottom: 5%;
    font-size: 17px;
}